name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install just
        run: sudo apt-get update && sudo apt-get install -y just
      - name: Run checks
        run: just check
